.root {
  width: 100%;
  height: 1px;
  margin-top: var(--spacing-em-small);
  margin-bottom: var(--spacing-em-small);
  background-color: var(--color-black-10);
  border: 0;
}

.space-none {
  margin-top: 0;
  margin-bottom: 0;
}

.space-small {
  margin-top: var(--spacing-em-xsmall);
  margin-bottom: var(--spacing-em-xsmall);
}

.space-large {
  margin-top: var(--em-xlarge);
  margin-bottom: var(--em-xlarge);
}
