.card {
  position: relative;
  background-color: var(--ye-color-background-card);
  border-radius: var(--ye-spacing-em-tiny);
}

.is-basic {
  padding: var(--ye-font-size-normal);
  box-shadow: var(--ye-shadow-floating-low);
}

.is-horizontal {
  display: flex;
  align-items: flex-start;
}

.is-borderless {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}

.image {
  flex-shrink: 0;
}

.content {
  transition-timing-function: var(--ye-transition-function);
  transition-duration: var(--ye-transition-duration);
  transition-property: visibility;

  @nest .image + & {
    margin-top: var(--ye-spacing-em-xsmall);
  }

  @nest .is-horizontal .image + & {
    margin-top: 0;
    margin-left: var(--ye-spacing-em-small);
  }
}

.view-thumb {
  & .content {
    visibility: hidden;
  }
}

.floating-highest {
  box-shadow: var(--ye-shadow-floating-highest);
}

.floating-high {
  box-shadow: var(--ye-shadow-floating-high);
}

.floating-medium {
  box-shadow: var(--ye-shadow-floating-medium);
}

.floating-low {
  box-shadow: var(--ye-shadow-floating-low);
}

.floating-lowest {
  box-shadow: var(--ye-shadow-floating-lowest);
}

.floating-none {
  box-shadow: none;
}

.flying-medium {
  box-shadow: var(--ye-shadow-flying-medium);
}

.height-full .content {
  height: 100%;
}
