.card {
  position: relative;
  background-color: var(--color-background);
  border-radius: var(--spacing-em-tiny);
}

.is-basic {
  padding: var(--font-size-normal);
  box-shadow: var(--shadow-floating-low);
}

.is-horizontal {
  display: flex;
  align-items: flex-start;
}

.is-borderless {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}

.image {
  flex-shrink: 0;
}

.content {
  transition-timing-function: var(--transition-function);
  transition-duration: var(--transition-duration);
  transition-property: visibility;
}

.image + .content {
  margin-top: var(--spacing-em-xsmall);
}

.is-horizontal .image + .content {
  margin-top: 0;
  margin-left: var(--spacing-em-small);
}

.view-thumb {
  & .content {
    visibility: hidden;
  }
}

.floating-highest {
  box-shadow: var(--shadow-floating-highest);
}

.floating-high {
  box-shadow: var(--shadow-floating-high);
}

.floating-medium {
  box-shadow: var(--shadow-floating-medium);
}

.floating-low {
  box-shadow: var(--shadow-floating-low);
}

.floating-lowest {
  box-shadow: var(--shadow-floating-lowest);
}
