.container {
  position: relative;
  display: inline-flex;

  & .button-open {
    background-color: var(--color-black-10);
    border-radius: var(--spacing-em-xsmall);
  }
}

.menu-container {
  position: absolute;
  top: calc(100% + var(--spacing-em-xsmall));
  display: flex;
  align-items: flex-start;
  min-width: 100%;
}

@media screen and (prefers-reduced-motion: reduce) {
  .menu {
    transition: none;
  }
}

.menu {
  position: relative;
  display: none;
  flex-grow: 1;
  max-height: 80vh;
  overflow: auto;
  text-align: left;
  background-color: var(--color-background);
  border-radius: var(--spacing-em-tiny);
  box-shadow: var(--shadow-floating-high);

  & .container {
    display: flex;
  }
}

.is-open {
  display: block;
  transform: scale(1);
}

.position-right {
  right: 0;
  flex-direction: row-reverse;

  & .menu:not(:first-of-type) {
    right: -4px;
  }
}

/* sizes */

.is-small {
  font-size: var(--font-size-small);
}

.is-large {
  font-size: var(--font-size-large);
}

.list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
