.container {
  width: 100%;
  padding: var(--ye-em-base);
}

.space-none {
  padding: 0;
}

.space-small {
  padding: var(--ye-spacing-em-xsmall);
}

.space-large {
  padding: var(--ye-em-xlarge);
}

.space-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.is-secondary {
  background-color: var(--ye-color-background-secondary);
}

.align-center {
  display: flex;
  justify-content: center;
}

.width-xsmall {
  width: 340px;
  max-width: 100%;
  margin: auto;
}

.width-small {
  width: 540px;
  max-width: 100%;
  margin: auto;
}

.height-readable {
  max-height: 80vh;
  overflow: auto;
}

.height-full {
  height: 100%;
}
