.wrapper {
  position: relative;
  display: flex;
}

.text-input {
  width: 100%;
  padding: var(--ye-control-padding);
  color: inherit;
  font-family: var(--ye-fontfamily-input);
  line-height: inherit;
  background-color: var(--ye-input-background-color);
  border-color: var(--ye-input-border-color);
  border-style: solid;
  border-width: var(--ye-input-border-width);
  border-radius: var(--ye-button-border-radius);
  box-shadow: var(--ye-input-shadow);

  &:hover {
    border-color: #40a9ff;
  }

  &:focus {
    background-color: #f4f5f6;
    border-color: #40a9ff;
    outline: none;
    box-shadow: var(--ye-shadow-inset-none);
  }
}

.icon-wrapper {
  position: absolute;
  top: var(--ye-spacing-em-small);
  left: var(--ye-spacing-em-large);
  display: inline-flex;
}

.icon-right {
  right: var(--ye-spacing-em-large);
  left: auto;
}

.padded-left {
  padding-left: var(--ye-spacing-em-xhuge);
}

.padded-right {
  padding-right: var(--ye-spacing-em-xhuge);
}

/* vairants */
.is-outlined {
  transition-property: background-color, color;

  &.has-focus,
  &:focus {
    color: var(--ye-color-background);
    background-color: var(--ye-color-text);
  }
}

.spinner {
  border-radius: var(--ye-spacing-em-tiny);
}
