.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--em-huge);
  height: var(--em-huge);
  color: var(--color-white);
  font-size: var(--font-size-tiny);
  background-color: var(--color-black-10);
  border-radius: var(--em-xlarge);
}
