.root {
  position: relative;
  padding: var(--button-padding);
  overflow: hidden;
  font-weight: var(--button-font-weight);
  text-align: left;
  background-color: var(--color-background);
  border-color: var(--button-border-color);
  border-width: var(--button-border-width);
  border-radius: var(--button-border-radius);
  box-shadow: var(--button-shadow);
  transition-timing-function: var(--transition-function);
  transition-duration: var(--transition-duration);
  transition-property: box-shadow, background-color, color;

  &.has-hover,
  &:hover {
    outline: none;
    box-shadow: var(--button-hover-shadow);
  }

  &.has-focus,
  &:focus {
    outline: none;
    box-shadow: var(--button-focus-shadow);
  }
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.spacing-equal {
  padding: var(--spacing-em-xsmall);
}

.spacing-extra {
  padding-top: calc(
    var(--spacing-em-normal) - 2 * var(--button-outline-border-width)
  );
  padding-bottom: calc(
    var(--spacing-em-normal) - 2 * var(--button-outline-border-width)
  );
}

.spacing-less {
  padding-top: calc(var(--spacing-em-xsmall));
  padding-bottom: calc(var(--spacing-em-xsmall));
}

.spacing-none {
  padding: 0;
}

.is-trans {
  background-color: transparent;
  box-shadow: none;

  &:hover,
  &:focus {
    background-color: var(--color-black-10);
    box-shadow: none;
  }
}

.is-inline {
  padding-right: var(--spacing-em-xsmall);
  padding-left: var(--spacing-em-xsmall);
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: none;
  &:hover,
  &:focus {
    box-shadow: none;
  }

  &.disabled {
    color: #576878;
  }
}

.is-list-item {
  width: 100%;
  border-radius: 0;
  box-shadow: none;

  &:hover,
  &:focus {
    background-color: var(--color-black-10);
    box-shadow: none;
  }
}

.is-primary {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.is-outlined {
  &.has-focus,
  &.has-hover,
  &:hover,
  &:focus {
    color: var(--color-background);
    background-color: var(--color-text);
    box-shadow: none;
  }
}

.is-filled {
  color: var(--color-background);
  background-color: var(--color-text);

  &.has-focus,
  &.has-hover,
  &:hover,
  &:focus {
    background-color: var(--color-text-light);
    box-shadow: none;
  }
}

.is-dashed {
  &.has-focus,
  &.has-hover,
  &:hover,
  &:focus {
    border-style: solid;
    box-shadow: none;
  }
}

.is-full-width {
  width: 100%;
}

/* cursor pointer */

.is-pointer {
  cursor: pointer;
}

.is-not-allowed {
  cursor: not-allowed;
}

/* effects */

.effect-cursor-tracking,
.effect-ripple {
  position: relative;
  overflow: hidden;
}

.effect-cursor-tracking::after,
.effect-ripple::before {
  position: absolute;
  display: block;
  border-radius: 100%;
  transform: translate(-50%, -50%) scale(1);
  transition-timing-function: ease-out;
  transition-duration: 0.5s;
  transition-property: transform, opacity;
  content: "";
}

@media screen and (prefers-reduced-motion: reduce) {
  .effect-cursor-tracking::after,
  .effect-ripple::before {
    transition: none;
  }
}

.effect-cursor-tracking {
  &::after {
    --size: 0;

    top: var(--effect-tracking-y);
    left: var(--effect-tracking-x);
    width: 7.5em;
    height: 7.5em;
    background: radial-gradient(
        circle closest-side,
        var(--color-shadow),
        transparent
      )
      center/15000%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.33;
  }

  &:hover::after,
  &:focus::after {
    --size: 5em;

    transform: translate(-50%, -50%) scale(1);
  }
}

.effect-ripple {
  &::before {
    top: var(--effect-ripple-y);
    left: var(--effect-ripple-x);
    display: none;
    opacity: 0;
  }
  &:hover::before,
  &:focus::before {
    width: var(--effect-ripple-diameter);
    height: var(--effect-ripple-diameter);
    background: var(--button-color-ripple)
      radial-gradient(circle, transparent 1%, var(--button-color-ripple) 1%)
      center/15000%;
    opacity: 0.025;
  }
  &:hover::before {
    display: block;
  }

  &.is-primary:hover::before,
  &.is-primary:focus::before {
    opacity: 0.125;
  }

  &:active::before {
    transform: translate(-50%, -50%) scale(0);
    transition-duration: 0s;
  }
}

.spinner {
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}
