.sidenav {
  width: 200px;
  height: 100%;
  max-height: calc(100vh - 2rem);
  background-color: var(--color-background-content);
  box-shadow: 0 -1px 0 var(--color-background), var(--shadow-floating-low);
}

.with-hanging {
  padding-top: 3.5em;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--spacing-em-large);
  height: var(--spacing-em-large);
  margin-right: var(--spacing-em-small);
  color: inherit;
  font-size: var(--font-size-large);
  line-height: 1;
}
