.root {
  --module-input-padding-top: var(--ye-spacing-rem-small);
  --module-input-padding-right: var(--ye-spacing-rem-small);
  --module-input-padding-bottom: var(--ye-spacing-rem-small);
  --module-input-padding-left: var(--ye-spacing-rem-small);
  --module-loader-z: calc(var(--ye-z-base) + 2);

  position: relative;
  width: 100%;
}

.input-wrapper {
  position: relative;
  display: flex;
}

.text-input {
  width: 100%;
  padding: var(--module-input-padding-top) var(--module-input-padding-right)
    var(--module-input-padding-bottom) var(--module-input-padding-left);
  color: inherit;
  font-family: var(--ye-fontfamily-input);
  background-color: var(--ye-color-input-background);
  border-color: var(--color-body-with-opacity);
  border-radius: var(--ye-input-border-radius);
  box-shadow: var(--ye-input-shadow);

  &:hover,
  &:focus {
    background-color: var(--ye-color-input-focus-background);
  }

  &:focus {
    border-color: var(--ye-color-input-focus-border);
    outline: none;
    box-shadow:
      inset 0 0 0 var(--ye-color-shadow-inset),
      0 0 0 1px var(--ye-color-input-focus-shadow);
  }
}

.icon-wrapper {
  position: absolute;
  top: 50%;
  left: var(--ye-spacing-em-large);
  display: inline-flex;
  transform: translateY(-50%);
}

.icon-right {
  right: var(--ye-spacing-em-large);
  left: auto;
}

.padded-left {
  --module-input-padding-left: calc(
    var(--ye-spacing-em-large) + var(--ye-spacing-em-large) +
      var(--ye-spacing-em-small)
  );
}

.padded-right {
  --module-input-padding-right: var(--ye-spacing-em-xhuge);
}

.loader {
  position: absolute;
  z-index: var(--module-loader-z);
  width: 100%;
  height: 100%;
  border-radius: var(--ye-input-border-radius);
}

/* variants */
.is-basic,
.is-material {
  & .text-input {
    border-style: solid;
    border-width: var(--ye-input-border-width);
  }
}

.is-outlined,
.is-dashed {
  border-width: var(--ye-input-border-width);
  transition-property: background-color, color;
}

.has-focus,
.is-outlined::focus,
.is-dashed:focus {
  background-color: var(--ye-color-text);
}

.is-material {
  --module-input-padding-top: calc(var(--ye-spacing-rem-xlarge));
  --module-input-padding-bottom: calc(
    var(--ye-spacing-rem-tiny) + var(--ye-rem-unit)
  );

  & .label {
    --calc-xy-padding: calc(
      var(--module-input-padding-top) + var(--module-input-padding-bottom)
    );

    position: absolute;
    top: calc((var(--calc-xy-padding) / 2) + 1px);
    left: calc(var(--module-input-padding-left) + var(--ye-spacing-rem-tiny));
    z-index: calc(var(--module-loader-z) - 1);
    display: flex;
    margin: 0;
    padding: 0;
    color: var(--ye-color-text-light);
    font-weight: 300;
    transform-origin: 0 center;
    cursor: text;
    transition-timing-function: var(--ye-transition-function);
    transition-duration: calc(var(--ye-transition-duration) / 2);
    transition-property: transform;
  }

  & .text-input:hover,
  & .text-input:focus {
    background-color: var(--ye-color-input-focus-background);
  }

  &.has-value .label,
  &.has-focus .label {
    font-weight: 500;
    transform: scale(0.72) translateX(calc(-1px - var(--ye-spacing-rem-tiny)))
      translateY(
        calc(
          var(--module-input-padding-bottom) - var(--module-input-padding-top) +
            var(--ye-spacing-rem-tiny)
        )
      );
    transition-duration: var(--ye-transition-duration);
  }
}

.spinner {
  border-radius: var(--ye-radius-small);
}

/* to avoid undef error */
/* stylelint-disable-next-line no-descending-specificity */
.has-focus,
.label {
  /* no styles */
}
