.root {
  --input-padding-top: var(--ye-spacing-rem-small);
  --input-padding-right: var(--ye-spacing-rem-small);
  --input-padding-bottom: var(--ye-spacing-rem-small);
  --input-padding-left: var(--ye-spacing-rem-small);

  position: relative;
  width: 100%;
  background-color: var(--ye-color-input-background);
  border-radius: var(--ye-input-border-radius);
}

.input-wrapper {
  position: relative;
  display: flex;
}

.label {
  margin-bottom: var(--ye-spacing-em-xsmall);
  padding: var(--input-padding-top) var(--input-padding-right)
    var(--input-padding-bottom) var(--input-padding-left);
  line-height: var(--ye-line-height);
}

.text-input {
  --color-body-with-opacity: #939fa480;

  width: 100%;
  padding: var(--input-padding-top) var(--input-padding-right)
    var(--input-padding-bottom) var(--input-padding-left);
  color: inherit;
  font-family: var(--ye-fontfamily-input);
  border-color: var(--color-body-with-opacity);
  border-style: solid;
  border-width: var(--ye-input-border-width);
  border-radius: var(--ye-input-border-radius);
  box-shadow: var(--ye-input-shadow);

  &:hover,
  &:focus {
    background-color: var(--ye-color-input-focus-background);
  }

  &:focus {
    border-color: var(--ye-color-input-focus-border);
    outline: none;
    box-shadow: inset 0 0 0 var(--ye-color-shadow-inset),
      0 0 0 1px var(--ye-color-input-focus-shadow);
  }
}

.icon-wrapper {
  position: absolute;
  top: 50%;
  left: var(--ye-spacing-em-large);
  display: inline-flex;
  transform: translateY(-50%);
}

.icon-right {
  right: var(--ye-spacing-em-large);
  left: auto;
}

.padded-left {
  --input-padding-left: calc(
    var(--ye-spacing-em-large) + var(--ye-spacing-em-large) +
      var(--ye-spacing-em-small)
  );
}

.padded-right {
  --input-padding-right: var(--ye-spacing-em-xhuge);
}

.loader {
  --loader-line-height: calc(var(--ye-line-height) * 1em);

  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: var(--ye-input-border-radius);
}

/* vairants */
.is-outlined {
  transition-property: background-color, color;

  &.has-focus,
  &:focus {
    background-color: var(--ye-color-text);
  }
}

.is-material {
  --input-padding-top: calc(var(--ye-spacing-rem-xlarge));
  --input-padding-bottom: calc(var(--ye-spacing-rem-tiny) + var(--ye-rem-unit));

  & .label {
    --calc-xy-padding: calc(
      var(--input-padding-top) + var(--input-padding-bottom)
    );

    position: absolute;
    top: calc((var(--calc-xy-padding) / 2) + 1px);
    left: calc(var(--input-padding-left) + var(--ye-spacing-rem-tiny));
    z-index: 1;
    display: flex;
    margin: 0;
    padding: 0;
    color: var(--ye-color-text-light);
    font-weight: 300;
    transform-origin: 0 center;
    cursor: text;
    transition-timing-function: var(--ye-transition-function);
    transition-duration: calc(var(--ye-transition-duration) / 2);
    transition-property: transform;
  }

  & .text-input:hover,
  & .text-input:focus {
    background-color: var(--ye-color-input-focus-background);
  }

  &.has-value .label,
  &.has-focus .label {
    font-weight: 500;
    transform: scale(0.72) translateX(calc(-1px - var(--ye-spacing-rem-tiny)))
      translateY(
        calc(
          var(--input-padding-bottom) - var(--input-padding-top) +
            var(--ye-spacing-rem-tiny)
        )
      );
    transition-duration: var(--ye-transition-duration);
  }
}

.spinner {
  border-radius: var(--ye-radius-small);
}

.errors {
  color: var(--color-negative);
  font-weight: var(--ye-font-weight-normal);
  font-size: var(--ye-font-size-xsmall);
}

.error-item {
  margin: var(--ye-spacing-em-tiny) 0 0;
  padding-bottom: var(--ye-spacing-em-tiny);
}

.required::after {
  color: var(--ye-color-danger);
  content: " *";
}
