.container {
  display: block;
  margin-bottom: var(--em-base);
}

.label-text {
  display: block;
  margin-bottom: var(--spacing-em-xsmall);
}

.error {
  margin-top: var(--spacing-em-xsmall);
  color: var(--color-danger);
}
