.root {
  min-height: 100vh;
}

.main {
  width: 100%;

  &.with-topnav-fixed {
    min-height: 100vh;
  }
  &.is-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
  }
}

.container {
  display: flex;
}

.sidenav {
  z-index: 1;
  height: 100vh;
  padding-right: var(--spacing-em-small);

  &.topnav-top {
    top: 4.5rem;
    height: calc(100vh - 4.5rem);
  }
}

.is-sticky {
  position: sticky;
  top: 0;
}

.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;

  &.sidenav-top {
    --sidenav-width: calc(var(--layout-sidenav-width));

    left: var(--sidenav-width);
    width: calc(100% - var(--sidenav-width));
  }
}

.content {
  flex: 1;
  min-width: 0;
}

.spacer {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 0;
}
