.root {
  --z-index-stack-1: 1;
  --z-index-stack-2: 100;
  min-height: 100vh;
}

.main {
  width: 100%;
}

.is-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.with-top-nav-fixed {
  min-height: 100vh;
}

.container {
  display: flex;
}

.side-nav {
  z-index: var(--z-index-stack-1);
  height: 100vh;

  &.top-nav-top {
    top: 4.5rem;
    height: calc(100vh - 4.5rem);
  }

  @media (--media-min-lg) {
    padding-right: var(--ye-spacing-em-small);
  }
}

.is-sticky {
  position: sticky;
  top: 0;
}

.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-stack-2);
  width: 100%;

  &.side-nav-top {
    --side-nav-width: calc(var(--ye-layout-side-nav-width));

    @media (--media-min-lg) {
      left: var(--side-nav-width);
      width: calc(100% - var(--side-nav-width));
    }
  }
}

.content {
  flex: 1;
  min-width: 0;
}

.spacer {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 0;
}
