/* stylelint-disable csstools/media-use-custom-media */
@import url("wo-library/styles/storybook.css");

.story-flex {
  flex-wrap: nowrap;

  @media (width < 768px) {
    flex-wrap: wrap;
  }
}

.story-height-overflow {
  min-height: 150vh;
}

.story-height-scroll {
  max-height: calc(100vh - var(--ye-spacing-rem-huge));
  overflow: auto;
  overscroll-behavior: auto;
  scrollbar-gutter: auto;

  &.story-grid-row {
    max-height: 50vh;
  }
}

.story-grid-row {
  grid-column: 1 / -1;
}

.story-bordered {
  border: 1px solid var(--ye-color-dark-10);
}

.story-bg-container {
  position: relative;
  width: 100%;
  padding: var(--ye-spacing-rem-normal);
  background-color: var(--ye-color-dark-50);
}

.story-topnav-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
