.cover {
  width: 100%;
  height: 200px;
  margin-bottom: var(--em-base);
  object-fit: cover;
  overflow: hidden;
  background-color: var(--color-black-10);
  border-radius: var(--em-xsmall);
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.aside {
  position: relative;
  top: -160px;
  width: 25%;
  min-width: 240px;
  margin-right: var(--em-xlarge);
}

.content {
  flex: 1;
}

.item {
  margin-bottom: var(--em-base);
}
