.anchor {
  display: inline-flex;
  color: var(--ye-color-text);
  text-decoration: none;
}

/* sizes */
.is-small {
  font-size: var(--ye-font-size-small);
}

.is-large {
  font-size: var(--ye-font-size-large);
}

/* vairants */
.is-list-item,
.is-nav-item,
.is-outlined,
.is-filled {
  &.spacing-extra {
    padding-top: calc(
      var(--ye-spacing-em-normal) - 2 * var(--ye-button-outline-border-width)
    );
    padding-bottom: calc(
      var(--ye-spacing-em-normal) - 2 * var(--ye-button-outline-border-width)
    );
  }

  &.spacing-less {
    padding-top: calc(var(--ye-spacing-em-xsmall));
    padding-bottom: calc(var(--ye-spacing-em-xsmall));
  }
}

.is-outlined,
.is-filled {
  border-radius: var(--ye-button-border-radius);
}

.is-basic {
  &.has-focus,
  &.has-hover,
  &:hover,
  &:focus {
    text-decoration: underline;
    outline: none;
    box-shadow: none;
  }
}

.is-color {
  color: var(--ye-color-text-anchor);

  &.has-focus,
  &.has-hover,
  &:hover,
  &:focus {
    color: var(--ye-color-text-anchor-focus);
    text-decoration: underline;
  }

  &:not(.no-visited):visited {
    color: var(--ye-color-text-anchor-visited);
  }
}

.is-list-item {
  display: flex;
  width: 100%;
  padding: var(--ye-spacing-em-xsmall) var(--ye-spacing-em-normal);
  border-radius: 0;
  transition-property: box-shadow, border-radius, background-color;

  &:hover,
  &:focus {
    background-color: var(--ye-color-black-5);
  }
}

.is-nav-item {
  position: relative;
  width: 100%;
  padding: var(--ye-spacing-em-small) var(--ye-em-base);
  border-radius: 0;

  &:hover,
  &:focus {
    color: var(--ye-color-primary);

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      width: 2px;
      background-color: var(--ye-color-primary);
      content: "";
    }
  }
}

.is-outlined {
  padding: var(--ye-button-outline-padding);
  background-color: transparent;
  border-color: var(--ye-color-text);
  border-style: solid;
  border-width: var(--ye-button-outline-border-width);
  transition-timing-function: var(--ye-transition-function);
  transition-duration: 200ms;
  transition-property: box-shadow, border-radius, background-color, color;

  &.has-focus,
  &.has-hover,
  &:hover,
  &:focus {
    color: var(--ye-color-background);
    background-color: var(--ye-color-text);
    box-shadow: none;
  }
}

.is-filled {
  padding: var(--ye-button-outline-padding);
  color: var(--ye-color-background);
  background-color: var(--ye-color-text);
  border-color: var(--ye-color-text);
  border-style: solid;
  border-width: var(--ye-button-outline-border-width);
  transition-timing-function: var(--ye-transition-function);
  transition-duration: 200ms;
  transition-property: box-shadow, border-radius, background-color, color;

  &.has-focus,
  &.has-hover,
  &:hover,
  &:focus {
    color: var(--ye-color-text);
    background-color: transparent;
    box-shadow: none;
  }
}

.icon {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: var(--ye-spacing-em-large);
  height: var(--ye-spacing-em-large);
  margin-right: var(--ye-spacing-em-xsmall);
  color: inherit;
  font-size: var(--ye-font-size-em);
  line-height: 1;
}

.is-after {
  margin-right: calc(-1 * var(--ye-em-unit));
  margin-left: var(--ye-spacing-em-tiny);
}

@media screen and (prefers-reduced-motion: reduce) {
  .anchor {
    transition: none;
  }
}
