.wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.placeholder {
  width: 100%;
  max-width: 200px;
  margin: auto;
  padding: var(--ye-button-padding);
  color: inherit;
  line-height: inherit;
  background-color: var(--ye-color-background);
  border-color: var(--ye-color-border);
  border-style: solid;
  border-width: var(--ye-button-border-width);
  border-radius: var(--ye-button-border-radius);
  box-shadow: var(--ye-button-shadow);
}

.input {
  width: 0;
  height: 0;
  overflow: hidden;

  &:hover + .placeholder {
    border-color: #40a9ff;
  }

  &:focus + .placeholder {
    background-color: #f4f5f6;
    border-color: #40a9ff;
    outline: none;
    box-shadow: var(--ye-shadow-inset-none);
  }
}

.icon-wrapper {
  position: absolute;
  top: var(--ye-spacing-em-small);
  left: var(--ye-spacing-em-large);
  display: inline-flex;
}

.icon-right {
  right: var(--ye-spacing-em-large);
  left: auto;
}

.list-item {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: var(--ye-spacing-em-normal) 0;
  padding: var(--ye-spacing-rem-small);
  font-size: var(--ye-font-size-xsmall);
  text-align: left;
  border-color: var(--ye-color-border);
  border-style: solid;
  border-width: var(--ye-button-outline-border-width);
  border-radius: var(--ye-radius-normal);
}

.list-item-progress {
  margin-top: 5px;
  margin-bottom: 5px;
}

.list-item-text {
  flex: 1;
}

.list-item-data-input {
  padding: var(--ye-spacing-em-xsmall) var(--ye-spacing-em-xsmall);
  font-size: var(--ye-font-size-xsmall);
}

.list-item-status-text {
  margin-right: 0.25rem;
}

/* vairants */
.is-outlined {
  transition-property: background-color, color;

  &.has-focus,
  &:focus {
    color: var(--ye-color-background);
    background-color: var(--ye-color-text);
  }
}

.spinner {
  border-radius: var(--ye-radius-small);
}

.label {
  width: 100%;
}

.progress {
  color: var(--ye-color-primary);
}

.success {
  color: var(--ye-color-positive);
}

.failed {
  color: var(--ye-color-negative);
}

.preview-image {
  width: 100%;
  max-width: 400px;
  max-height: 160px;
  margin-top: var(--ye-spacing-rem-small);
}
