@import "ye-ui/themes/utils/media.css";

.root {
  z-index: 100;
  width: 100%;
  background-color: var(--color-background);
  box-shadow: var(--shadow-floating-low);
  transition-timing-function: var(--transition-function);
  transition-duration: 250ms;
  transition-property: background-color box-shadow;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.banner {
  width: calc(100%);
  height: 0;
  margin-top: calc(-1 * var(--em-base));
  margin-bottom: var(--em-base);
  transition: var(--transition-duration) height ease-in-out;

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }

  @media (--media-min-md) {
    width: calc(100% + 2 * var(--spacing-em-large));
    margin: calc(-1 * var(--em-base)) calc(-1 * var(--spacing-em-large))
      var(--em-base);
  }
}

.is-flat {
  box-shadow: none;
}

.is-transparent {
  background-color: transparent;
  box-shadow: none;
}

.is-underlined {
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: none;
}

.is-expanded {
  & .banner {
    height: 26px;
  }
}

.topnav-item {
  display: flex;
  align-items: center;
  padding-right: var(--em-base);
}

.content-left {
  display: flex;
  flex: 1;
  margin: 0 var(--spacing-em-large);
}

.has-separator {
  position: relative;
  margin-right: var(--em-base);

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: var(--color-black-10);
    content: "";
  }
}

.content-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo-container {
  display: flex;
  justify-content: center;
  height: 1em;
  font-size: 2.5em;
  line-height: 1;
  transition: var(--transition-duration) height ease-in-out;

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.with-sidenav {
  & .logo-container {
    justify-content: center;
    width: 120px;
  }

  & .content-left {
    padding-left: var(--spacing-em-large);
  }
}

.logo {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.is-logo-hanging {
  height: 40px;
  transition-timing-function: var(--transition-function);
  transition-duration: 100ms;
  transition-property: height;

  & .logo {
    z-index: 103;
    height: 112px;
    font-size: 112px;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .root,
  .is-logo-hanging {
    transition: none;
  }
}
