@import "../../../styles/media.css";

.root {
  z-index: 100;
  width: 100%;
  background-color: var(--ye-color-background);
  box-shadow: var(--ye-shadow-floating-low);
  transition-timing-function: var(--ye-transition-function);
  transition-duration: 250ms;
  transition-property: background-color box-shadow;

  &.is-transparent {
    background-color: var(--ye-topnav-expanded-color-bg);
    box-shadow: none;
  }
}

.container {
  display: flex;
  align-items: stretch;
  width: 100%;
  background-color: var(--ye-color-white);

  @media (--media-max-md) {
    justify-content: space-between;
  }
}

.banner {
  width: calc(100%);
  height: 0;
  transition: var(--ye-transition-duration) height ease-in-out;

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.is-flat {
  box-shadow: none;
}

.is-underlined {
  border-bottom: 1px solid rgb(0 0 0 / 0.03);
  box-shadow: none;
}

.is-expanded {
  & .banner {
    height: 40px;
  }
}

.top-nav-item {
  display: flex;
  align-items: center;
}

.content-left {
  display: flex;
  flex: 1;
  margin: 0 var(--ye-spacing-em-xsmall);
}

.has-separator {
  position: relative;
  margin-right: var(--ye-em-base);
  padding-right: var(--ye-spacing-em-normal);

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: var(--ye-color-black-10);
    content: "";
  }
}

.content-menu {
  display: none;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;

  @media (--media-max-md) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    padding-top: 130px;
    background: #fff;
    transform: translateX(-100%);

    &.open {
      display: block;
      height: fit-content;
      padding-bottom: var(--ye-spacing-em-huge);
      box-shadow: 0 2px 4px 0 rgb(0 0 0 / 0.06);
      transform: translateX(0);
    }
  }
}

.content-menu-icon {
  display: flex;
  font-size: 2em;
  fill: #000;
  @media (--media-min-lg) {
    display: none;
  }
}

.content-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  padding-left: var(--ye-spacing-em-normal);
}

.logo-container {
  display: flex;
  justify-content: center;
  height: 1em;
  font-size: 2.5em;
  line-height: 1;
  transition: var(--ye-transition-duration) height ease-in-out;

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.with-side-nav {
  & .logo-container {
    justify-content: center;
    width: 120px;
  }
}

.logo {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.is-logo-hanging {
  height: 40px;
  transition-timing-function: var(--ye-transition-function);
  transition-duration: 100ms;
  transition-property: height;

  & .logo {
    z-index: 103;
    height: 112px;
    font-size: 112px;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .root,
  .is-logo-hanging {
    transition: none;
  }
}

.side-nav-toggled {
  @media (--media-max-md) {
    & .logo {
      opacity: 0;
    }
  }
}
