.text {
  position: relative;
  display: block;
  width: 100%;
  max-width: 720px;
  overflow: hidden;
  box-orient: vertical;

  &.inline {
    display: inline-flex;
  }
}

.loader {
  display: block;
  width: 100%;
  height: 1em;
  margin: auto;
}

.inline {
  & .loader {
    display: inline-block;
  }
}
