.text {
  position: relative;
  display: inline-flex;
  display: -webkit-box;
  width: 100%;
  max-width: 720px;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.loader {
  width: 100%;
  height: 1em;
}
