@import "normalize.css";

:root {
  /* ====== */

  /* BREAKPOINTS */
  --bp-max-xs: 575px;
  --bp-min-sm: 576px;
  --bp-min-md: 768px;
  --bp-min-lg: 992px;
  --bp-min-xl: 1200px;
  --bp-min-xxl: 1400px;

  /* COLORS */

  /* color definitions */
  --color-accent-dark: #4f2549;
  --color-accent-light: #ffc880;
  --color-background: var(--color-white);
  --color-background-card: var(--color-white);
  --color-background-content: var(--color-white);
  --color-background-secondary: #f9fafb;
  --color-black: #000;
  --color-black-10: rgba(0, 0, 0, 0.1);
  --color-black-75: rgba(0, 0, 0, 0.75);
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-positive: #39bf0a;
  --color-negative: #c45d65;
  --color-danger: rgb(255, 0, 0);
  --color-primary: #f18904;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-shadow-inset: rgba(0, 0, 0, 0.05);
  --color-text: var(--color-black);
  --color-text-light: var(--color-black-50);
  --color-text-anchor: #1890ff;

  /* TODO: focus and visited color to be different */
  --color-text-anchor-focus: #40a9ff;
  --color-text-anchor-visited: #005086;
  --color-text-content: var(--color-black);
  --color-white: #fff;
  --color-white-90: rgba(255, 255, 255, 0.9);
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-10: rgba(255, 255, 255, 0.1);

  /* ====== */

  /* FONTS */

  /* Make sure the fonts are imported in the appropriate html (.storybook/preview-head.html for storybook) */
  --font-family-body: "Poppins", "Helvetica Neue", helvetica, arial, sans-serif;
  --font-family-title: "Poppins", "Helvetica Neue", helvetica, arial, sans-serif;

  /* type scale 1.2 (https://type-scale.com/) */
  --font-size-em: 1.2em;
  --font-size-mammoth: 2.488rem;
  --font-size-xhuge: 2.074rem;
  --font-size-huge: 1.728rem;
  --font-size-xlarge: 1.44rem;
  --font-size-large: 1.2rem;
  --font-size-normal: 1rem;
  --font-size-small: 0.833rem;
  --font-size-xsmall: 0.694rem;
  --font-size-tiny: 0.579rem;

  /* line heights */
  --line-height: 1.5;
  --line-height-thin: 1.25;

  /* weights */
  --font-weight-black: 700;
  --font-weight-bold: 600;
  --font-weight-semibold: 500;
  --font-weight-normal: 400;
  --font-weight-light: 300;
  --font-weight-thin: 200;

  /* ====== */

  /* SHADOWS */
  --shadow-floating-highest: 0 2px 30px var(--color-shadow);
  --shadow-floating-high: 0 2px 12px var(--color-shadow);
  --shadow-floating-medium: 0 2px 6px var(--color-shadow);
  --shadow-floating-low: 0 1px 4px var(--color-shadow);
  --shadow-floating-lowest: 0 0 2px var(--color-shadow);
  --shadow-inset: inset 0 2px 4px var(--color-shadow-inset);
  --shadow-inset-none: inset 0 0 0 var(--color-shadow-inset);
  --shadow-outer-none: 0 0 0 var(--color-shadow-inset);
  --shadow-pressable: var(--shadow-inset-none), var(--shadow-floating-low);
  --shadow-hovered: var(--shadow-inset-none), var(--shadow-floating-lowest);
  --shadow-pressed: var(--shadow-inset), var(--shadow-outer-none);

  /* ====== */

  /* SPACING */

  /* relative */
  --em-unit: 0.125em;
  --em-base: 1em;
  --spacing-em-tiny: calc(2 * var(--em-unit));
  --spacing-em-xsmall: calc(4 * var(--em-unit));
  --spacing-em-small: calc(6 * var(--em-unit));
  --spacing-em-normal: var(--em-base);
  --spacing-em-large: calc(10 * var(--em-unit));
  --spacing-em-xlarge: calc(12 * var(--em-unit));
  --spacing-em-huge: calc(16 * var(--em-unit));
  --spacing-em-xhuge: calc(28 * var(--em-unit));

  /* fixed */
  --rem-unit: 0.125rem;
  --rem-base: 1rem;
  --spacing-rem-tiny: calc(2 * var(--rem-unit));
  --spacing-rem-xsmall: calc(4 * var(--rem-unit));
  --spacing-rem-small: calc(6 * var(--rem-unit));
  --spacing-rem-normal: var(--rem-base);
  --spacing-rem-large: calc(10 * var(--rem-unit));
  --spacing-rem-xlarge: calc(12 * var(--rem-unit));
  --spacing-rem-huge: calc(16 * var(--rem-unit));
  --spacing-rem-xhuge: calc(28 * var(--rem-unit));

  /* ====== */

  /* TRANSITIONS */
  --transition-function: ease-in-out;
  --transition-duration: 300ms;

  /* ====== */

  /* BUTTONS */
  --button-border-color: rgba(0, 0, 0, 0.05);
  --button-border-radius: 3em;
  --button-border-width: 0;
  --button-color-ripple: var(--color-shadow);
  --button-outline-border-width: 1px;
  --button-focus-shadow: var(--shadow-pressed);
  --button-font-weight: var(--font-weight-semibold);
  --button-hover-shadow: var(--shadow-hovered);
  --button-padding: var(--spacing-em-small) var(--spacing-em-large);
  --button-outline-padding: calc(
      var(--spacing-em-small) - var(--button-outline-border-width)
    )
    calc(var(--spacing-em-large) - var(--button-outline-border-width));
  --button-shadow: var(--shadow-pressable);

  /* ====== */

  /* FORM */
  --control-outline-padding: calc(
      var(--spacing-em-small) - var(--button-outline-border-width)
    )
    calc(var(--spacing-em-normal) - var(--button-outline-border-width));
  --control-padding: var(--spacing-em-small) var(--spacing-em-normal);
  --input-background-color: rgba(0, 0, 0, 0.025);
  --input-border-width: 0;
  --input-border-color: rgba(0, 0, 0, 0.025);
  --input-shadow: var(--shadow-inset);
  --input-text-font-family: var(--font-family-body);

  /* ====== */
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--color-background);
}

body {
  overflow-x: hidden;
  color: var(--color-text);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-normal);
  font-size: clamp(100%, 1rem + 2vw, var(--font-size-normal));
  font-family: var(--font-family-body);
  line-height: var(--line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-title);
}

h1 {
  font-size: var(--font-size-mammoth);
}

h2 {
  font-size: var(--font-size-xhuge);
}

h3 {
  font-size: var(--font-size-huge);
}

h4 {
  font-size: var(--font-size-xlarge);
}

h5 {
  font-size: var(--font-size-large);
}

h6 {
  font-size: var(--font-size-normal);
}

.custom-scrollbar {
  scrollbar-width: thin;

  /* SCROLLBAR */

  /* New specs, works on Firefox */
  scrollbar-color: #f5f5f5 var(--color-primary);

  /* Works on Chrome/Edge/Safari */
  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: inset 0 0 6px var(--color-black-10);
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);

    /* border: 3px solid #f5f5f5; */
    border-radius: 8px;
    box-shadow: inset 0 0 6px var(--color-black-10);
  }
}
