@import "~normalize.css";

:root {
  /* ====== */

  /* BREAKPOINTS */
  --display-min-phone: 576px;
  --display-min-tablet: 768px;
  --display-min-desktop: 992px;
  --display-min-tv: 1200px;

  /* COLORS */

  /* color definitions */
  --color-accent-dark: #4f2549;
  --color-accent-light: #ffc880;
  --color-background: var(--color-white);
  --color-background-content: var(--color-white);
  --color-black: #000;
  --color-black-10: rgba(0, 0, 0, 0.1);
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-danger: rgb(255, 0, 0);
  --color-primary: #f18904;
  --color-shadow: rgba(0, 0, 0, 0.15);
  --color-text: var(--color-black);
  --color-text-anchor: #005086;
  --color-text-content: var(--color-black);
  --color-white: #fff;
  --color-white-90: rgba(255, 255, 255, 0.9);
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-10: rgba(255, 255, 255, 0.1);

  /* ====== */

  /* FONTS */

  /* Make sure the fonts are imported in the appropriate html (.storybook/preview-head.html for storybook) */
  --font-family: "Poppins", "Helvetica Neue", helvetica, arial, sans-serif;

  /* type scale 1.2 (https://type-scale.com/) */
  --font-size-em: 1.2em;
  --font-size-mammoth: 2.488rem;
  --font-size-xhuge: 2.074rem;
  --font-size-huge: 1.728rem;
  --font-size-xlarge: 1.44rem;
  --font-size-large: 1.2rem;
  --font-size: 1rem;
  --font-size-small: 0.833rem;
  --font-size-xsmall: 0.694rem;
  --font-size-tiny: 0.579rem;

  /* line heights */
  --line-height: 1.5;
  --line-height-thin: 1.25;

  /* weights */
  --font-weight-black: 700;
  --font-weight-bold: 600;
  --font-weight-semibold: 500;
  --font-weight-normal: 400;
  --font-weight-light: 300;
  --font-weight-thin: 200;

  /* ====== */

  /* SHADOWS */

  --shadow-pressable: 0 2px 4px var(--color-shadow);
  --shadow-pressed: 0 1px 2px var(--color-shadow);
  --shadow-floating-high: 0 3px 6px var(--color-shadow);
  --shadow-floating-low: 0 1px 2px var(--color-shadow);

  /* ====== */

  /* SPACING */

  /* relative */
  --em-unit: 0.125em;
  --em-base: 1em;
  --spacing-em-tiny: calc(2 * var(--em-unit));
  --spacing-em-xsmall: calc(4 * var(--em-unit));
  --spacing-em-small: calc(6 * var(--em-unit));
  --spacing-em-normal: var(--em-base);
  --spacing-em-large: calc(10 * var(--em-unit));
  --spacing-em-xlarge: calc(12 * var(--em-unit));
  --spacing-em-huge: calc(16 * var(--em-unit));
  --spacing-em-xhuge: calc(28 * var(--em-unit));

  /* fixed */
  --rem-unit: 0.125em;
  --rem-base: 1rem;
  --spacing-rem-tiny: calc(2 * var(--rem-unit));
  --spacing-rem-xsmall: calc(4 * var(--rem-unit));
  --spacing-rem-small: calc(6 * var(--rem-unit));
  --spacing-rem-normal: var(--rem-base);
  --spacing-rem-large: calc(10 * var(--rem-unit));
  --spacing-rem-xlarge: calc(12 * var(--rem-unit));
  --spacing-rem-huge: calc(16 * var(--rem-unit));
  --spacing-rem-xhuge: calc(28 * var(--rem-unit));

  /* ====== */

  /* TRANSITIONS */
  --transition-function: ease-in-out;
  --transition-duration: 300ms;

  /* ====== */

  /* BUTTONS */
  --button-border-radius: 3em;
  --button-border-width: 0;
  --button-outline-border-width: 1px;
  --button-focus-shadow: var(--shadow-pressed);
  --button-font-weight: var(--font-weight-semibold);
  --button-padding: var(--spacing-em-xsmall) var(--spacing-em-large);
  --button-outline-padding: calc(
      var(--spacing-em-xsmall) - var(--button-outline-border-width)
    )
    calc(var(--spacing-em-large) - var(--button-outline-border-width));
  --button-shadow: var(--shadow-pressable);

  /* ====== */

  /* TOPNAV */

  --topnav-padding: var(--em-base) var(--spacing-em-large);
  --topnav-logo-size: 2.5em;
  --topnav-logo-margin: 0 var(--spacing-em-xsmall);
  --topnav-content-left-margin: 0 var(--spacing-em-large);
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;

  /* SCROLLBAR */

  /* New specs, works on Firefox */
  scrollbar-color: #f5f5f5 var(--color-primary);

  /* Works on Chrome/Edge/Safari */
  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: inset 0 0 6px var(--color-black-10);
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);

    /* border: 3px solid #f5f5f5; */
    border-radius: 8px;
    box-shadow: inset 0 0 6px var(--color-black-10);
  }
}

body {
  overflow-x: hidden;
  color: var(--color-text);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size);
  font-size: clamp(100%, 1rem + 2vw, 16px);
  font-family: var(--font-family);
  line-height: var(--line-height);
}

h1 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-mammoth);
}

h2 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xhuge);
}

h3 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-huge);
}

h4 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xlarge);
}

h5 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
}

h6 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
}
