@layer ye-components {
  .root {
    display: block;
    margin-bottom: var(--ye-spacing-em-xsmall);
    padding-left: var(--ye-spacing-em-tiny);
    line-height: var(--ye-line-height);
  }

  .with-value,
  .with-focus {
    font-weight: 500;
    transform: scale(0.72)
      translateY(
        calc(
          var(--ye-input-padding-bottom) - var(--ye-input-padding-top) +
            var(--ye-input-border-width) - 1px
        )
      );
    transition-duration: var(--ye-transition-duration);
  }

  .required::after {
    color: var(--ye-color-danger);
    content: " *";
  }
}
