.root {
  width: 200px;
  height: 100%;
  max-height: calc(100vh - 2rem);
  background-color: var(--ye-color-background-content);
  box-shadow: 0 -1px 0 var(--ye-color-background), var(--ye-shadow-floating-low);
}

.with-hanging {
  padding-top: 3.5em;
}
