@layer ye-structures {
  .root {
    width: 200px;
    height: 100%;
    max-height: calc(100vh - 2rem);
    background-color: var(--ye-color-background-content);
    box-shadow: var(--ye-shadow-drawer);
  }

  .with-hanging {
    padding-top: calc(var(--ye-size-hanging-logo) / 2);
  }
}
