@layer ye-structures {
  .root {
    padding-bottom: var(--ye-spacing-rem-xsmall);

    @media (--media-min-xl) {
      padding-top: var(--ye-spacing-rem-xsmall);
    }

    & + .root {
      padding-top: var(--ye-spacing-rem-xsmall);
      border-top: 1px solid var(--ye-color-black-10);
    }
  }

  .title {
    color: var(--ye-color-black-50);
    font-weight: 300;
  }
}
