/**
  * Toggle behaviour at various breakpoints
  * xl onwards -> no option to toggle, open by default
  * lg -> toggle button, open by default, minimize on toggle
  * md -> toggle button, minimized by default, open on toggle
  * below md -> toggle button, closed by default, open on toggle
  */

@layer ye-structures {
  .root {
    flex-shrink: 0;
    width: var(--ye-layout-side-nav-width);
    height: max-content;
    overflow: auto;
    background-color: var(--ye-color-background-content);
    box-shadow: var(--ye-shadow-drawer);
    transition-timing-function: var(--ye-transition-function);
    transition-duration: var(--ye-transition-duration);
    transition-property: width;

    @media (--media-min-md) and (--media-max-md) {
      width: var(--ye-layout-side-nav-toggle-width);
    }

    @media (--media-max-sm) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: calc(var(--ye-z-topnav) - 1);
      width: var(--ye-layout-side-nav-toggle-width);
    }
  }

  .wrapper-outer {
    width: 100%;
    overflow: hidden;
  }

  .wrapper-inner {
    width: var(--ye-layout-side-nav-width);
    overflow: hidden;
  }

  .backdrop {
    display: none;
  }

  .backdrop-toggled {
    @media (--media-max-sm) {
      position: fixed;
      z-index: calc(var(--ye-z-topnav) - 2);
      display: block;
      width: 100%;
      background: var(--ye-color-black-50);
      inset: 0 100% 0 0;
    }
  }

  .is-toggled {
    @media (--media-min-lg) and (--media-max-lg) {
      width: var(--ye-layout-side-nav-toggle-width);
    }

    @media (--media-min-md) and (--media-max-md) {
      width: var(--ye-layout-side-nav-width);
    }

    @media (--media-max-sm) {
      width: 100vw;
    }
  }

  .is-sticky {
    @media (--media-min-md) {
      position: sticky;
      top: var(--ye-layout-side-nav-offset);
      max-height: calc(100vh - var(--ye-layout-side-nav-offset));
    }
  }

  .is-sticky-bottom {
    @media (--media-min-md) {
      top: auto;
      bottom: 0;
      margin-top: auto;
    }
  }

  .is-full-height {
    height: calc(100vh - var(--ye-layout-side-nav-offset));
  }

  .toggle {
    position: sticky;
    top: 0;
    z-index: calc(var(--ye-z-base) + 1);
    display: flex;
    padding: var(--ye-spacing-rem-normal) 0 var(--ye-spacing-rem-normal)
      var(--ye-spacing-rem-normal);
    background-color: var(--ye-color-background-content);

    @media (--media-min-xl) {
      display: none;
    }
  }
}
