.bookmark {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--spacing-em-xsmall);
  padding-bottom: var(--spacing-em-xsmall);
  color: var(--color-black-50);
  font-size: var(--font-size-small);
}

.item {
  display: flex;
  align-items: center;

  &:not(:last-child) .text::after {
    position: absolute;
    bottom: calc(var(--spacing-em-xtiny) * -1);
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-black-10);
    content: "";
  }
}

.text {
  position: relative;
  display: inline-flex;
  padding-right: var(--spacing-em-xtiny);
  padding-left: var(--spacing-em-xtiny);
}

.separator {
  display: inline-flex;
  margin-right: var(--spacing-em-tiny);
  margin-left: var(--spacing-em-tiny);
}
