@layer ye-wrappers {
  .icon {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: var(--ye-spacing-em-large);
    height: var(--ye-spacing-em-large);
    margin-right: var(--ye-spacing-em-xsmall);
    color: inherit;
    line-height: 1;
  }

  .form-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--ye-spacing-em-large);
    height: var(--ye-spacing-em-large);
    color: inherit;
    line-height: 1;

    & img,
    & svg {
      height: 100%;
    }
  }
}
