/* stylelint-disable scale-unlimited/declaration-strict-value */
* {
  box-sizing: border-box;
}

.story-box {
  padding: 1rem;
  background-color: #fff;
}

.story-container {
  width: calc(100% - 4rem);
  margin-right: 2rem;
  margin-left: 2rem;
}

.story-inline {
  display: inline-block;
}

.story-card {
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 1px 4px rgb(0 0 0 / 0.1);
}

.story-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.story-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.story-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  & > * {
    flex-grow: 1;
  }
}

.story-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 20px;
}

.story-bordered {
  border: 1px solid var(--ye-color-black-10);
}
