@layer ye-components {
  .container {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: var(--ye-spacing-em-huge);
    height: var(--ye-spacing-em-huge);

    font-size: var(--ye-font-size-tiny);
    color: var(--ye-color-light);

    background-color: var(--ye-color-dark-10);
    border-radius: var(--ye-radius-normal);
  }
}
