@import url("../../../styles/media.css");

.root {
  z-index: 100;
  width: 100%;
  background-color: var(--ye-color-background);
  box-shadow: var(--ye-shadow-floating-low);
  transition-timing-function: var(--ye-transition-function);
  transition-duration: 250ms;
  transition-property: background-color box-shadow;

  &.is-transparent {
    background-color: var(--ye-topnav-expanded-color-bg);
    box-shadow: none;
  }
}

.container {
  display: flex;
  gap: var(--ye-spacing-em-normal);
  align-items: stretch;
  width: 100%;

  &.has-multi-row {
    flex-wrap: wrap;

    @media (--media-max-lg) {
      & .content-left,
      & .content-right {
        display: flex;
      }
    }
  }
}

.banner {
  width: calc(100%);
  height: 0;
  margin: var(--ye-spacing-em-unit) auto;
  font-size: var(--ye-font-size-small);
  transition: var(--ye-transition-duration) height ease-in-out;

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.is-flat {
  box-shadow: none;
}

.is-underlined {
  border-bottom: 1px solid rgb(0 0 0 / 0.03);
  box-shadow: none;
}

.content-left {
  display: flex;
  flex: 1;

  @media (--media-max-lg) {
    display: none;
  }
}

.content-right-wrapper {
  margin-left: auto;
}

.content-right {
  gap: 0;
  justify-content: flex-end;

  @media (--media-max-lg) {
    display: none;
  }
}

.content-menu {
  z-index: -1;
  display: none;
  align-items: stretch;
  height: fit-content;
  margin-left: auto;
  padding: var(--ye-em-base);
  transform: translateX(-100%);

  @media (--media-max-lg) {
    &.open {
      display: flex;
      transform: translateX(0);
    }
  }
}

.content-menu-icon {
  display: flex;
  align-items: center;
  font-size: 2em;
  fill: #000;

  @media (--media-min-xl) {
    display: none;
  }
}

.content-menu-icon-right {
  margin-left: var(--ye-spacing-em-normal);
}

.content-menu-top,
.content-menu-bottom {
  align-items: flex-end;
}

.content-menu-top {
  & + .content-menu-bottom {
    padding-top: var(--ye-spacing-em-normal);
    border-top: 1px solid rgb(0 0 0 / 0.03);
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  line-height: 1;
  transition: var(--ye-transition-duration) height ease-in-out;

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.with-side-nav {
  & .logo-container {
    justify-content: center;
    width: 64px;
  }
}

.logo {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.is-logo-hanging {
  height: 40px;
  transition-timing-function: var(--ye-transition-function);
  transition-duration: 100ms;
  transition-property: height;

  & .logo {
    z-index: 103;
    height: 112px;
    font-size: 112px;
  }
}

.root,
.is-logo-hanging {
  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.side-nav-toggled {
  @media (--media-max-lg) {
    & .logo {
      opacity: 0;
    }
  }
}

.has-drawer {
  &.is-transparent {
    background-color: var(--ye-color-background);
  }
}

/* to avoid undef error */
/* stylelint-disable-next-line no-descending-specificity */
.has-multi-row,
.open {
  /* no styles */
}
